body{
    background-color: cadetblue;
}
h1{
    font-size: 72px;
    text-align: center;
}
img{
    width: 120px;
    height: 120px;
    margin: 12px;
}
#medio{
    background-color: brown;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    margin: auto;
    width: 800px;
    
    gap: 1px;
    
}
.select{
    border: solid 5px yellow;
    width: 110px;
    height: 110px;
}
#vs{
    font-size: 100px;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    
    text-align: center;
}